<section class="ui centered segment container" ng-controller="SettingsController">
  <div class="page-header">
    <h1>Settings</h1>
  </div>
  <div class="ui two column grid">
    <nav class="six wide column">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="settings.profile">Edit Profile</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.picture">Change Profile Picture</a>
        </li>
        <li ui-sref-active="active" ng-show="user.provider === 'local'">
          <a ui-sref="settings.password">Change Password</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.accounts">Manage Social Accounts</a>
        </li>
      </ul>
    </nav>
    <div class="ten wide column settings-view">
      <div ui-view></div>
    </div>
  </div>
</section>
