.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

*, :after, :before {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: #404040;
  font: 400 1em/1.4 'Open Sans',sans-serif;
  text-rendering: optimizeLegibility;
}

body{
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  background-color: /*#145d85 #a6b07b*/#343434 !important;
}

/*Top Navigation*/
header {
  width: 100%;
  height: 50px;
  background: #f0efed !important;
  color: #999  !important;
}

header a.item:hover, header a.item.active{
  border-bottom: 1px solid #002268;
  background-color: #c7a777 !important;
}

header img.logo {
  display: inline-block;
  height: 40px;
  line-height: 50px;
  padding: 5px 0 5px 0;
}

header .profile.image{
  margin-right: 5px;
}

.banner {
  background: #0E1619 url(../img/brand/banner-img.jpg) no-repeat scroll 50% 25%/ cover;
}

/*Footer*/
footer{
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  background: #f0ede4 !important;
  color: #999  !important;
}


/*Main content*/
.main.container {
  webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding-top: 100px;
}

.vertically.padded{
  padding-top: 100px;
  padding-bottom: 100px;
}

.very.vertically.padded{
  padding-top: 200px;
  padding-bottom: 100px;
}
